.favoriteListContainer >h2 {
  font-size: medium;
}

.favoriteListContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
}
.favoriteListContainer > ol {
  border-style: dashed;
  width: 40%;
}
.favoriteListContainer > ol > li{
  height: 5vh;
    width: 90%;
    margin: 1%;
    background-color: white;
}

@media screen and (max-width: 425px) {
  .favoriteListContainer > ol{
    width: 80%;
  }
}