.navigation {
  height: 10vh;
  width: 20%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.expanded {
  margin-left: auto;
  /* box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23); */
}
.expanded ul {
  display: flex;
  padding: 0;
}
.expanded > ul> li {
  list-style-type: none;
  margin-block: 2px;
  /* margin: 0 1rem; */
}
.expanded > ul> li {
  text-decoration: none;
  display: block;
  width: 100%;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(241, 232, 233);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #e7b9e4;
}
.hamburger {
  display: block;
}
.navigationMenu ul {
  display:none;
}
.expanded > ul {
  position: absolute;
  top: 87%;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 88vh);
  background-color: white;
  border-bottom:1px solid black;
  border-right:1px solid black;
  /* border-top: 1px solid black; */
}
.expanded > li {
  text-align: center;
  margin: 0;
}
.expanded > li {
  color: black;
  width: 100%;
  padding: 1.5rem 0;
}
.expanded li:hover {
  background-color: #eee;
  color: #b73be4;
  border: 1px solid #b73be4;
}
a {
  text-decoration: none;

}
.expanded > ul {
  display: block;
}
.logo {
  border-radius: 50%;
  width: 50%;
}
.navBtn {
  height: 30px;
}
.navBarWrapper {
  display:flex;
  flex-direction: row;
}
.logoLink {
  width: 63%;
}

.logo:hover {
  /* outline-style: solid black; */
  transform: scale(1.2) perspective(3em);
  /* outline-width: 10%; */
}